set scrolloff=8
set visualbell
set linenumber
set showmode
set clipboard+=unnamed
set ignorecase
set smartcase
set incsearch
set hlsearch
set nerdtree

let mapleader = " "

Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'

nnoremap <A-h> <C-w>h
nnoremap <A-l> <C-w>l
nnoremap <A-k> <C-w>k
nnoremap <A-j> <C-w>j
nnoremap <Esc> :w<CR>
nnoremap L :tabnext<CR>
nnoremap H :tabprev<CR>\

inoremap <Esc> <C-o>:w<CR>

vnoremap < <gv
vnoremap > >gv

map <leader>ca <Action>(ShowIntentionActions)
map <leader>e :NERDTreeToggle<CR>
map <leader>sv <Action>(SplitVertically)
map <leader>sh <Action>(SplitHorizontally)
map <leader>sc <Action>(Unsplit)
map <leader>ff <action>(GotoFile)
map <leader>fs <action>(RecentFiles)
map <leader>q <action>(CloseContent)
map <leader>rn <Action>(RenameElement)

